@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 1116px;
    gap: 20px;
}

.product {
    position: relative;
}
.product .img {
    margin-bottom: 9px;
}

.product img {
    width: 264px;
    height: 330px;
}
.product .addToBag {
    position: absolute;
    top: 282px;
    right: 8px;
    width: 40px;
    height: 40px;
}
.product .addToBag img {
    width: 40px;
    height: 40px;
}

.product .nameProduct {
    font-weight: 500;
}

.product .nameProduct,
.product .countProduct,
.product .priceProduct {
    font-size: 14px;
}

.product .nameProduct,
.product .countProduct {
    margin-bottom: 5.3px;
}